{% extends 'baselayout.html.twig' %}

{% block title %}List of rooms!{% endblock %}

{% block main %}

        <h1>Rooms list</h1>
        <p>Here are all your rooms:</p>
	
    <table class="table">
        <tbody>
            <tr>
            <th>Id</th>
            <td> Room {{ room.id }}</td>
             <td> {{ room.summary }} </td>
             <td> {{ room.capacity }} </td>
             <td> {{ room.price }} </td>
              <td> {{ room.superficy }} </td>
            </tr>
            </tbody>
    </table>
            
{% endblock %}
